<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		 <title>Poll IT !</title>

		 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	       <!-- Bootstrap CDN-->
	       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" />

  <!-- Imported font - cabin -->
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
</head>

<body>

<!-- NAVBVAR SECTION -->
    <nav class="navbar top-nav navbar-fixed-top" id="my-navbar">
      <div class="container">
        <div class="navbar-header">
        <!-- data-toggle allows you to make the sections to collapse when the size of the screen gets too small. the
        icon-bar are just the lines for the button. -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <div>
                <svg version="1.1" id="hamburgerMenu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 50.82 42.667" enable-background="new 0 0 50.82 42.667" xml:space="preserve"><g><path fill="#FFFFFF" d="M45.792,8H5.029C3.231,8,1.773,6.542,1.773,4.745c0-1.798,1.458-3.256,3.255-3.256h40.763c1.798,0,3.255,1.458,3.255,3.256C49.047,6.542,47.589,8,45.792,8z"/></g><g><path fill="#FFFFFF" d="M45.792,19.059H5.029c-1.798,0-3.255-1.458-3.255-3.255c0-1.798,1.458-3.256,3.255-3.256h40.763c1.798,0,3.255,1.458,3.255,3.256C49.047,17.602,47.589,19.059,45.792,19.059z"/></g><g><path fill="#FFFFFF" d="M45.792,30.119H5.029c-1.798,0-3.255-1.458-3.255-3.256c0-1.798,1.458-3.255,3.255-3.255h40.763c1.798,0,3.255,1.458,3.255,3.255C49.047,28.661,47.589,30.119,45.792,30.119z"/></g><g><path fill="#FFFFFF" d="M45.792,41.178H5.029c-1.798,0-3.255-1.458-3.255-3.256s1.458-3.256,3.255-3.256h40.763c1.798,0,3.255,1.458,3.255,3.256S47.589,41.178,45.792,41.178z"/></g></svg>
            </div>
          </button>
          <div class="pollit-logo-svg">
            <svg version="1.1" id="pollitLogo" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="220px" height="50px" viewBox="0 0 185.867 25.214" enable-background="new 0 0 185.867 25.214" xml:space="preserve"> <g> <g> <g> <path fill="#FFFFFF" d="M16.898,8.662c0,1.145-0.217,2.214-0.649,3.208c-0.433,0.994-1.021,1.858-1.767,2.591 c-0.745,0.733-1.62,1.306-2.626,1.717c-1.007,0.411-2.074,0.618-3.201,0.618H7.079c-1.326,0-2.41,1.085-2.41,2.411v3.04 c0,1.326-1.051,2.411-2.334,2.411S0,23.571,0,22.246V3c0-1.326,1.085-2.411,2.411-2.411H6.25c1.326,0,3.397,0.093,4.603,0.207 c0,0,0,0,1.006,0.412c1.006,0.411,1.881,0.979,2.625,1.702c0.745,0.723,1.333,1.576,1.765,2.56 C16.681,6.453,16.898,7.517,16.898,8.662z M12.23,8.602c0-0.622-0.117-1.205-0.348-1.747c-0.231-0.542-0.547-1.014-0.948-1.416 c-0.402-0.401-0.874-0.723-1.417-0.964C8.977,4.234,8.394,4.114,7.771,4.114H7.079c-1.326,0-2.41,1.084-2.41,2.41v4.275 c0,1.326,0.698,2.41,1.551,2.41s2.094-0.056,2.756-0.124c0,0,0,0,0.542-0.251c0.542-0.251,1.014-0.587,1.417-1.009 c0.4-0.422,0.717-0.908,0.948-1.461C12.113,9.812,12.23,9.225,12.23,8.602z"/> </g> <g> <path fill="#FFFFFF" d="M47.013,12.608c0,1.727-0.336,3.354-1.008,4.879c-0.672,1.526-1.59,2.851-2.752,3.976 c-1.164,1.125-2.518,2.014-4.062,2.667c-1.545,0.651-3.189,0.978-4.934,0.978c-1.746,0-3.395-0.326-4.95-0.978 c-1.554-0.653-2.913-1.542-4.077-2.667c-1.163-1.125-2.08-2.445-2.753-3.961c-0.672-1.516-1.007-3.147-1.007-4.894 c0-1.747,0.335-3.384,1.007-4.91c0.673-1.526,1.59-2.851,2.753-3.976c1.164-1.125,2.522-2.008,4.077-2.651 c1.555-0.642,3.204-0.964,4.95-0.964c1.745,0,3.389,0.322,4.934,0.964c1.544,0.643,2.898,1.532,4.062,2.666 c1.163,1.134,2.08,2.459,2.752,3.976C46.676,9.229,47.013,10.861,47.013,12.608z M42.344,12.608c0-1.104-0.212-2.144-0.634-3.118 c-0.423-0.974-1.001-1.828-1.735-2.561s-1.595-1.315-2.581-1.747c-0.985-0.432-2.031-0.648-3.138-0.648 c-1.127,0-2.184,0.216-3.169,0.648c-0.985,0.432-1.846,1.014-2.58,1.747s-1.313,1.587-1.735,2.561 c-0.423,0.974-0.633,2.014-0.633,3.118c0,1.084,0.21,2.118,0.633,3.102c0.422,0.983,1.001,1.843,1.735,2.576 s1.594,1.316,2.58,1.747c0.986,0.431,2.042,0.647,3.169,0.647c1.106,0,2.152-0.217,3.138-0.647 c0.986-0.431,1.846-1.014,2.581-1.747s1.312-1.592,1.735-2.576C42.132,14.727,42.344,13.693,42.344,12.608z"/> </g> <g> <path fill="#FFFFFF" d="M69.446,22.397c0,1.243-1.084,2.259-2.41,2.259H55.561c-1.326,0-2.41-1.085-2.41-2.411V3 c0-1.326,1.071-2.411,2.379-2.411S57.91,1.674,57.91,3v14.728c0,1.326,1.084,2.411,2.41,2.411h6.716 C68.362,20.138,69.446,21.155,69.446,22.397z"/> </g> <g> <path fill="#FFFFFF" d="M90.946,22.397c0,1.243-1.084,2.259-2.41,2.259H77.061c-1.326,0-2.411-1.085-2.411-2.411V3 c0-1.326,1.071-2.411,2.38-2.411c1.309,0,2.379,1.085,2.379,2.411v14.728c0,1.326,1.084,2.411,2.41,2.411h6.716 C89.862,20.138,90.946,21.155,90.946,22.397z"/> </g> <g> <path fill="#FFFFFF" d="M110.307,22.246c0,1.326-1.051,2.411-2.334,2.411c-1.284,0-2.334-1.085-2.334-2.411V3 c0-1.326,1.05-2.411,2.334-2.411c1.284,0,2.334,1.085,2.334,2.411V22.246z"/> </g> <g> <path fill="#FFFFFF" d="M133.855,2.668c0,1.143-1.084,2.079-2.41,2.079h-1.836c-1.326,0-2.411,1.084-2.411,2.41v15.089 c0,1.326-1.064,2.411-2.364,2.411c-1.301,0-2.365-1.085-2.365-2.411V7.157c0-1.326-1.084-2.41-2.41-2.41h-1.836 c-1.326,0-2.411-0.936-2.411-2.079c0-1.144,1.085-2.079,2.411-2.079h13.222C132.771,0.589,133.855,1.524,133.855,2.668z"/> </g> <g> <path fill="#FFFFFF" d="M141.559,0.56c1.326,0,2.332,1.082,2.236,2.404l-0.917,12.602c-0.096,1.322-0.778,2.404-1.515,2.404 c-0.737,0-1.419-1.082-1.515-2.404l-0.915-12.602c-0.096-1.322,0.91-2.404,2.236-2.404H141.559z M143.608,22.412 c0,1.234-1.01,2.244-2.244,2.244c-1.234,0-2.244-1.01-2.244-2.244s1.01-2.244,2.244-2.244 C142.598,20.168,143.608,21.178,143.608,22.412z"/> </g> </g> <g> <rect x="160.478" y="1.608" fill="#B72327" width="23.083" height="21.898"/> <g> <path fill="#FAFAFA" d="M181.793,2.444c0.883,0,1.629,0.746,1.629,1.629v17.068c0,0.884-0.747,1.629-1.629,1.629h-19.008 c-0.883,0-1.629-0.746-1.629-1.629V4.073c0-0.884,0.747-1.629,1.629-1.629H181.793 M181.793,0h-19.008 c-2.24,0-4.073,1.833-4.073,4.073v17.068c0,2.24,1.833,4.073,4.073,4.073h19.008c2.24,0,4.073-1.833,4.073-4.073V4.073 C185.867,1.833,184.034,0,181.793,0L181.793,0z"/> <g> <path fill="#FAFAFA" d="M178.182,18.125c0.345,0.488,0.138,0.887-0.459,0.887h-1.683c-0.598,0-1.359-0.405-1.693-0.901 l-1.589-2.357c-0.334-0.495-0.882-0.496-1.218-0.002l-1.606,2.362c-0.335,0.494-1.099,0.898-1.696,0.898h-1.683 c-0.597,0-0.804-0.399-0.459-0.887l3.559-5.037c0.345-0.488,0.344-1.286-0.001-1.773l-3.159-4.454 c-0.346-0.488-0.14-0.886,0.458-0.886h1.636c0.597,0,1.361,0.404,1.696,0.898l1.255,1.845c0.336,0.494,0.884,0.493,1.218-0.002 l1.239-1.84c0.333-0.496,1.096-0.901,1.693-0.901h1.66c0.598,0,0.802,0.398,0.456,0.884l-3.178,4.458 c-0.347,0.486-0.349,1.284-0.004,1.771L178.182,18.125z"/> </g> </g> </g> </g> </svg>
          </div>
        </div><!-- End nav header -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
            <li role="presentation"><a class="navigation-links" href="/">Create A Poll</a></li>
            <li role="presentation"><a class="navigation-links" href="/">Your Polls</a></li>
            <li role="presentation"><a class="navigation-links" href="/users/logout">Logout</a></li>
            {{else}}
            <li role="presentation"><a class="navigation-links" href="/users/login">Login</a></li>
            <li role="presentation"><a class="navigation-links" href="/users/register">Register</a></li>

            {{/if}}
          </ul> 
        </div><!-- END navbar collapse -->
      </div><!-- END container -->
    </nav><!-- END Navbar -->

<!-- BEGIN  SECTION -->
	<div class="container">
      <div class="header clearfix">
      </div>
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>
      </div>
    </div> <!-- /container -->
    <footer class="footer">
      <p class="footer-text">&copy; 2017 Poll IT, Inc. Created by: Ilamaran Gurunathan, Xiaoying Wen, Daniel Blanco </p>
    </footer>

		<!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/js/api.js"></script>
	<script src="/js/pollHistory.js"></script>		
   <script src="/js/application.js"></script>


</body>
</html>
