<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		 <title>Poll IT !</title>

		 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	       <!-- Bootstrap CDN-->
	       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" />

  <!-- Imported font - cabin -->
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
</head>

<body>

<!-- NAVBVAR SECTION -->
    <nav class="navbar top-nav navbar-fixed-top" id="my-navbar">
      <div class="container">
        <div class="navbar-header">
        <!-- data-toggle allows you to make the sections to collapse when the size of the screen gets too small. the
        icon-bar are just the lines for the button. -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <div>
                <svg version="1.1" id="hamburgerMenu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 50.82 42.667" enable-background="new 0 0 50.82 42.667" xml:space="preserve"><g><path fill="#FFFFFF" d="M45.792,8H5.029C3.231,8,1.773,6.542,1.773,4.745c0-1.798,1.458-3.256,3.255-3.256h40.763c1.798,0,3.255,1.458,3.255,3.256C49.047,6.542,47.589,8,45.792,8z"/></g><g><path fill="#FFFFFF" d="M45.792,19.059H5.029c-1.798,0-3.255-1.458-3.255-3.255c0-1.798,1.458-3.256,3.255-3.256h40.763c1.798,0,3.255,1.458,3.255,3.256C49.047,17.602,47.589,19.059,45.792,19.059z"/></g><g><path fill="#FFFFFF" d="M45.792,30.119H5.029c-1.798,0-3.255-1.458-3.255-3.256c0-1.798,1.458-3.255,3.255-3.255h40.763c1.798,0,3.255,1.458,3.255,3.255C49.047,28.661,47.589,30.119,45.792,30.119z"/></g><g><path fill="#FFFFFF" d="M45.792,41.178H5.029c-1.798,0-3.255-1.458-3.255-3.256s1.458-3.256,3.255-3.256h40.763c1.798,0,3.255,1.458,3.255,3.256S47.589,41.178,45.792,41.178z"/></g></svg>
            </div>
          </button>
          <div class="pollit-logo-svg">
            <!-- SVG for logo -->
            <svg version="1.1" id="pollitLogo" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px" height="80px" viewBox="1.157 -2.905 180.71 31.025" enable-background="new 1.157 -2.905 180.71 31.025" xml:space="preserve"><g><g><path fill="#FAFAFA" d="M181.867,27.234c0,0.487-0.398,0.886-0.886,0.886h-32.878c-0.486,0-0.886-0.398-0.886-0.886v-0.837c0-0.488,0.399-0.887,0.886-0.887h32.878c0.487,0,0.886,0.398,0.886,0.887V27.234z"/></g><g><g><g><path fill="#FAFAFA" d="M161.574,21.989c0,0.476-0.399,0.865-0.886,0.865h-10.431c-0.488,0-0.888-0.39-0.888-0.865V-2.04c0-0.476,0.399-0.866,0.888-0.866h10.431c0.486,0,0.886,0.39,0.886,0.866V21.989z"/></g><g><path fill="#FAFAFA" d="M179.715,21.989c0,0.476-0.399,0.865-0.887,0.865h-10.432c-0.486,0-0.886-0.39-0.886-0.865V7.62c0-0.476,0.399-0.865,0.886-0.865h10.432c0.487,0,0.887,0.389,0.887,0.865V21.989L179.715,21.989z"/></g></g></g></g><text transform="matrix(1 0 0 1 -194.2251 -68.6636)" fill="#231F20" font-family="'MyriadPro-Regular'" font-size="54.75">#F6F6F6</text><rect x="40.328" y="-150.066" fill="#FAFAFA" width="114.012" height="111.011"/><g><g><g><path fill="#FAFAFA" d="M17.787,8.589c0,1.126-0.213,2.179-0.639,3.157c-0.426,0.978-1.005,1.828-1.738,2.549s-1.595,1.285-2.585,1.689c-0.991,0.405-2.041,0.607-3.15,0.607H6.751c-0.55,0-1,0.45-1,1v5.737c0,0.55-0.45,1-1,1H2.157c-0.55,0-1-0.45-1-1V1.645c0-0.55,0.45-1,1-1H8.68c0.55,0,1.448,0.042,1.996,0.094c0,0,1.162,0.109,2.152,0.514c0.99,0.405,1.851,0.963,2.584,1.675c0.732,0.711,1.311,1.552,1.737,2.52S17.787,7.462,17.787,8.589z M13.192,8.53c0-0.612-0.114-1.186-0.341-1.72c-0.228-0.533-0.539-0.998-0.934-1.393c-0.396-0.395-0.859-0.711-1.393-0.949C9.99,4.231,9.417,4.113,8.805,4.113H6.751c-0.55,0-1,0.45-1,1v6.952c0,0.55,0.45,1,1,1h1.053c0.55,0,1.448-0.046,1.995-0.103c0,0,0.191-0.02,0.725-0.268c0.534-0.247,0.998-0.578,1.393-0.993s0.707-0.894,0.934-1.438C13.078,9.72,13.192,9.143,13.192,8.53z"/></g><g><path fill="#FAFAFA" d="M44.969,12.472c0,1.7-0.331,3.301-0.992,4.803c-0.662,1.502-1.564,2.806-2.709,3.912c-1.145,1.107-2.477,1.981-3.997,2.624c-1.52,0.642-3.139,0.963-4.855,0.963c-1.718,0-3.341-0.321-4.871-0.963c-1.53-0.643-2.867-1.517-4.012-2.624c-1.145-1.106-2.048-2.405-2.709-3.897c-0.661-1.492-0.992-3.098-0.992-4.817c0-1.719,0.331-3.33,0.992-4.832c0.662-1.501,1.564-2.806,2.709-3.913s2.482-1.976,4.012-2.609c1.53-0.632,3.153-0.949,4.871-0.949c1.717,0,3.335,0.316,4.855,0.949c1.52,0.633,2.852,1.507,3.997,2.624c1.145,1.117,2.048,2.421,2.709,3.913C44.639,9.147,44.969,10.753,44.969,12.472z M40.375,12.472c0-1.086-0.208-2.109-0.624-3.068s-0.985-1.798-1.708-2.52c-0.723-0.721-1.569-1.294-2.539-1.719c-0.97-0.425-2-0.637-3.088-0.637c-1.109,0-2.149,0.212-3.119,0.637c-0.97,0.425-1.816,0.998-2.539,1.719c-0.723,0.722-1.292,1.562-1.708,2.52s-0.623,1.981-0.623,3.068c0,1.067,0.207,2.085,0.623,3.054c0.416,0.968,0.985,1.812,1.708,2.534s1.569,1.295,2.539,1.72s2.01,0.637,3.119,0.637c1.089,0,2.119-0.212,3.088-0.637s1.816-0.998,2.539-1.72s1.292-1.566,1.708-2.534C40.167,14.557,40.375,13.54,40.375,12.472z"/></g><g><path fill="#FAFAFA" d="M64.593,23.33c0,0.55-0.45,1-1,1H49.556c-0.55,0-1-0.45-1-1V1.645c0-0.55,0.45-1,1-1h2.684c0.55,0,1,0.45,1,1v17.239c0,0.55,0.45,1,1,1h9.354c0.55,0,1,0.45,1,1V23.33z"/></g><g><path fill="#FAFAFA" d="M83.298,23.33c0,0.55-0.45,1-1,1H68.261c-0.55,0-1-0.45-1-1V1.645c0-0.55,0.45-1,1-1h2.684c0.55,0,1,0.45,1,1v17.239c0,0.55,0.45,1,1,1h9.354c0.55,0,1,0.45,1,1V23.33z"/></g><g><path fill="#FAFAFA" d="M99.897,23.33c0,0.55-0.45,1-1,1h-2.595c-0.55,0-1-0.45-1-1V1.645c0-0.55,0.45-1,1-1h2.595c0.55,0,1,0.45,1,1V23.33z"/></g><g><path fill="#FAFAFA" d="M120.618,3.735c0,0.55-0.45,1-1,1h-4.551c-0.55,0-1,0.45-1,1V23.33c0,0.55-0.45,1-1,1h-2.654c-0.55,0-1-0.45-1-1V5.735c0-0.55-0.45-1-1-1h-4.551c-0.55,0-1-0.45-1-1V1.645c0-0.55,0.45-1,1-1h15.756c0.55,0,1,0.45,1,1V3.735z"/></g><g><path fill="#FAFAFA" d="M127.118,0.615c0.55,0,0.968,0.449,0.928,0.998l-1.101,15.139c-0.04,0.548-0.522,0.997-1.072,0.997h-0.639c-0.55,0-1.032-0.449-1.072-0.997l-1.101-15.139c-0.04-0.549,0.378-0.998,0.928-0.998H127.118z M127.762,23.33c0,0.55-0.45,1-1,1h-2.416c-0.55,0-1-0.45-1-1v-2.417c0-0.55,0.45-1,1-1h2.416c0.55,0,1,0.45,1,1V23.33z"/></g></g></g></svg>
          </div>
        </div><!-- End nav header -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
            <li role="presentation"><a class="navigation-links" href="/"> Home </a></li>
            <li role="presentation"><a class="navigation-links" href="javascript:getPollHistory()">Your Polls</a></li>
            <li role="presentation"><a class="navigation-links" href="/users/logout">Logout</a></li>
            {{else}}
            <li role="presentation"><a class="navigation-links" href="/users/login">Login</a></li>
            <li role="presentation"><a class="navigation-links" href="/users/register">Register</a></li>

            {{/if}}
          </ul>
        </div><!-- END navbar collapse -->
      </div><!-- END container -->
    </nav><!-- END Navbar -->

<!-- BEGIN  SECTION -->
	<div class="container">
      <div class="header clearfix">
      </div>
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>
      </div>
    </div> <!-- /container -->
    <footer class="footer">
      <p class="footer-text">&copy; 2017 Poll IT, Inc. Created by: Ilamaran Gurunathan, Xiaoying Wen, Daniel Blanco </p>
    </footer>

		<!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
				<script src="/js/pollHistory.js"></script>
		<script src="/js/api.js"></script>

   <script src="/js/application.js"></script>


</body>
</html>
