<div class='container'>
   <div class="row profile">
      <div class="col-md-3">
         <div class="profile-sidebar" id="profileColumn" data-userid={{userId}}>
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
               {{#if imageSource}}
               <img src="{{imageSource}}" class="img-responsive" alt="">
               {{else}}
                     <img src="./images/person.svg" class="img-responsive" alt="">
                {{/if}}
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
               <div class="profile-usertitle-name">
                  {{userName}}
               </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
               <ul class="nav">
                  {{!-- {{ all svgs below are the same x box in the logo }} --}}
                  <li>
                     <a id="getPoll">
                        <svg version="1.1" id="xBox" class="x-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                           <g>
                              <g>
                                 <path fill="#990100" d="M16.999,1.938c0.65,0,1.2,0.592,1.2,1.292v13.538c0,0.702-0.55,1.293-1.2,1.293H3c-0.65,0-1.2-0.591-1.2-1.293V3.23C1.8,2.53,2.35,1.938,3,1.938H16.999 M16.999,0H3C1.35,0,0,1.454,0,3.23v13.538C0,18.545,1.35,20,3,20h13.999C18.649,20,20,18.545,20,16.769V3.23C20,1.454,18.649,0,16.999,0L16.999,0z"/>
                                 <g>
                                    <path fill="#990100" d="M14.339,14.376c0.254,0.389,0.103,0.705-0.338,0.705h-1.24c-0.439,0-1.001-0.322-1.247-0.716l-1.169-1.869c-0.246-0.393-0.649-0.394-0.897-0.001l-1.183,1.873c-0.247,0.392-0.809,0.713-1.249,0.713h-1.24c-0.44,0-0.592-0.316-0.338-0.705l2.621-3.995c0.254-0.387,0.253-1.02-0.001-1.406L5.731,5.442C5.476,5.055,5.628,4.739,6.068,4.739h1.205c0.439,0,1.002,0.32,1.249,0.712l0.924,1.464c0.248,0.392,0.651,0.391,0.897-0.002l0.913-1.459c0.246-0.394,0.807-0.715,1.247-0.715h1.222c0.44,0,0.591,0.315,0.336,0.702l-2.341,3.535c-0.256,0.386-0.257,1.019-0.003,1.405L14.339,14.376z"/>
                                 </g>
                              </g>
                           </g>
                        </svg>
                        <p class="sidebar-text"> Poll History </p>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <svg version="1.1" id="xBox" class="x-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                           <g>
                              <g>
                                 <path fill="#990100" d="M16.999,1.938c0.65,0,1.2,0.592,1.2,1.292v13.538c0,0.702-0.55,1.293-1.2,1.293H3c-0.65,0-1.2-0.591-1.2-1.293V3.23C1.8,2.53,2.35,1.938,3,1.938H16.999 M16.999,0H3C1.35,0,0,1.454,0,3.23v13.538C0,18.545,1.35,20,3,20h13.999C18.649,20,20,18.545,20,16.769V3.23C20,1.454,18.649,0,16.999,0L16.999,0z"/>
                                 <g>
                                    <path fill="#990100" d="M14.339,14.376c0.254,0.389,0.103,0.705-0.338,0.705h-1.24c-0.439,0-1.001-0.322-1.247-0.716l-1.169-1.869c-0.246-0.393-0.649-0.394-0.897-0.001l-1.183,1.873c-0.247,0.392-0.809,0.713-1.249,0.713h-1.24c-0.44,0-0.592-0.316-0.338-0.705l2.621-3.995c0.254-0.387,0.253-1.02-0.001-1.406L5.731,5.442C5.476,5.055,5.628,4.739,6.068,4.739h1.205c0.439,0,1.002,0.32,1.249,0.712l0.924,1.464c0.248,0.392,0.651,0.391,0.897-0.002l0.913-1.459c0.246-0.394,0.807-0.715,1.247-0.715h1.222c0.44,0,0.591,0.315,0.336,0.702l-2.341,3.535c-0.256,0.386-0.257,1.019-0.003,1.405L14.339,14.376z"/>
                                 </g>
                              </g>
                           </g>
                        </svg>
                        <p class="sidebar-text"> User Settings </p>
                     </a>
                  </li>
                  <li>
                     <a href="https://github.com/ilamarang/PolliT" target="_blank">
                        <svg version="1.1" id="xBox" class="x-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                           <g>
                              <g>
                                 <path fill="#990100" d="M16.999,1.938c0.65,0,1.2,0.592,1.2,1.292v13.538c0,0.702-0.55,1.293-1.2,1.293H3c-0.65,0-1.2-0.591-1.2-1.293V3.23C1.8,2.53,2.35,1.938,3,1.938H16.999 M16.999,0H3C1.35,0,0,1.454,0,3.23v13.538C0,18.545,1.35,20,3,20h13.999C18.649,20,20,18.545,20,16.769V3.23C20,1.454,18.649,0,16.999,0L16.999,0z"/>
                                 <g>
                                    <path fill="#990100" d="M14.339,14.376c0.254,0.389,0.103,0.705-0.338,0.705h-1.24c-0.439,0-1.001-0.322-1.247-0.716l-1.169-1.869c-0.246-0.393-0.649-0.394-0.897-0.001l-1.183,1.873c-0.247,0.392-0.809,0.713-1.249,0.713h-1.24c-0.44,0-0.592-0.316-0.338-0.705l2.621-3.995c0.254-0.387,0.253-1.02-0.001-1.406L5.731,5.442C5.476,5.055,5.628,4.739,6.068,4.739h1.205c0.439,0,1.002,0.32,1.249,0.712l0.924,1.464c0.248,0.392,0.651,0.391,0.897-0.002l0.913-1.459c0.246-0.394,0.807-0.715,1.247-0.715h1.222c0.44,0,0.591,0.315,0.336,0.702l-2.341,3.535c-0.256,0.386-0.257,1.019-0.003,1.405L14.339,14.376z"/>
                                 </g>
                              </g>
                           </g>
                        </svg>
                        <p class="sidebar-text"> Help </p>
                     </a>
                  </li>
                  <li>
                     <a href="/users/logout">
                        <svg version="1.1" id="xBox" class="x-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                           <g>
                              <g>
                                 <path fill="#990100" d="M16.999,1.938c0.65,0,1.2,0.592,1.2,1.292v13.538c0,0.702-0.55,1.293-1.2,1.293H3c-0.65,0-1.2-0.591-1.2-1.293V3.23C1.8,2.53,2.35,1.938,3,1.938H16.999 M16.999,0H3C1.35,0,0,1.454,0,3.23v13.538C0,18.545,1.35,20,3,20h13.999C18.649,20,20,18.545,20,16.769V3.23C20,1.454,18.649,0,16.999,0L16.999,0z"/>
                                 <g>
                                    <path fill="#990100" d="M14.339,14.376c0.254,0.389,0.103,0.705-0.338,0.705h-1.24c-0.439,0-1.001-0.322-1.247-0.716l-1.169-1.869c-0.246-0.393-0.649-0.394-0.897-0.001l-1.183,1.873c-0.247,0.392-0.809,0.713-1.249,0.713h-1.24c-0.44,0-0.592-0.316-0.338-0.705l2.621-3.995c0.254-0.387,0.253-1.02-0.001-1.406L5.731,5.442C5.476,5.055,5.628,4.739,6.068,4.739h1.205c0.439,0,1.002,0.32,1.249,0.712l0.924,1.464c0.248,0.392,0.651,0.391,0.897-0.002l0.913-1.459c0.246-0.394,0.807-0.715,1.247-0.715h1.222c0.44,0,0.591,0.315,0.336,0.702l-2.341,3.535c-0.256,0.386-0.257,1.019-0.003,1.405L14.339,14.376z"/>
                                 </g>
                              </g>
                           </g>
                        </svg>
                        <p class="sidebar-text"> Log Out </p>
                     </a>
                  </li>
               </ul>
            </div>
            <!-- END MENU -->
         </div>
      </div>
      {{!-- {{ anything after this is the main content on the bottom right }} --}}
      <div class="col-md-9" id='mainContent'>
        <div class="searchContent">
  	<div class="row">
  		<div class="col-md-12">
              <div class="input-group" id="adv-search">
                  <input type="text" id="pollTextSearch" class="form-control" placeholder="Search By Poll Name" />
                  <div class="input-group-btn">
                      <div class="btn-group" role="group">
                          <div class="dropdown dropdown-lg">
                              <button  type="button" class="btn btn-default dropdown-toggle" id = "filterResultsDropDown" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                              <div class="dropdown-menu dropdown-menu-right" role="menu">
                                  <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                      <label for="filter">Filter by Poll Types</label>
                                      <select class="form-control" id="pollTypeOption">
                                          <option value="0" selected>All Types</option>
                                          <option value="1">Binary Poll</option>
                                          <option value="2">MultiOption Poll</option>
                                          <option value="3">Preferential Poll</option>
                                      </select>
                                    </div>

                                    <button type="button" class="btn btn-primary pollSearchButton" id="titleSearch"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                  </form>
                              </div>
                          </div>
                          <button type="button" class="btn btn-primary pollSearchButton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
  	</div>
    <div class="profileContent">
       <div class = 'row'>
          <div class = 'col-md-4'>
             <div class="panel panel-primary panel1">
                <div class="text-center panel-body panel1">
                   <h1 class="poll-title"> Binary Poll </h1>
                   <h4 class="poll-info"> A poll between two options. </h4>
                </div>
                {{!-- {{ binary poll icon }} --}}
                <svg version="1.1" data-polltype = "yesOrNo" class="poll-svg createPollButton" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="156.355px" height="140px" viewBox="0 0 156.355 140" enable-background="new 0 0 156.355 140" xml:space="preserve">
                   <g>
                      <path fill="#991E20" d="M156.355,136c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4v-3.776c0-2.2,1.8-4,4-4h148.355c2.2,0,4,1.8,4,4V136z"/>
                   </g>
                   <g>
                      <g>
                         <g>
                            <path fill="#B72327" d="M64.783,115.065c0,2.2-1.8,4-4,4H13.715c-2.2,0-4-1.8-4-4V4c0-2.2,1.8-4,4-4h47.068c2.2,0,4,1.8,4,4V115.065z"/>
                         </g>
                         <g>
                            <path fill="#B72327" d="M146.641,115.065c0,2.2-1.8,4-4,4H95.572c-2.2,0-4-1.8-4-4V48.649c0-2.2,1.8-4,4-4h47.068c2.2,0,4,1.8,4,4V115.065z"/>
                         </g>
                      </g>
                   </g>
                   <rect x="-315.572" y="-36.577" fill="#B72327" width="85.005" height="80.644"/>
                   <text transform="matrix(1 0 0 1 -408.6309 127.6611)" fill="#231F20" font-family="'MyriadPro-Regular'" font-size="54.75">#B90504</text>
                   <text transform="matrix(1 0 0 1 -408.6309 280.6758)" fill="#231F20" font-family="'MyriadPro-Regular'" font-size="54.75">#990100</text>
                   <rect x="-174.078" y="52.258" fill="#B72327" width="114.012" height="111.011"/>
                   <rect x="-174.078" y="205.273" fill="#991E20" width="114.012" height="111.011"/>
                </svg>
                <div class='text-center'>
                   <button id="yesNoPollButton" data-polltype = "yesOrNo" class="red-button createPollButton">Create Poll!</button>
                </div>
                {{!-- {{ END text-center }} --}}
             </div>
             {{!-- {{ END panel-primary }} --}}
          </div>
          {{!-- {{ END col-md-4 }} --}}
          <div class = 'col-md-4'>
             <div class="panel1 panel panel-primary panel2">
                <div class="panel-body panel2">
                   <h2 class="poll-title text-center"> Multi-option Poll </h2>
                   <p class="text-center poll-info"> A poll between multiple options. </p>
                </div>
                {{!-- {{ multiple choice poll icon }} --}}
                <svg version="1.1" data-polltype = "multipleChoice" class="poll-svg createPollButton" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150.01px" height="113px" viewBox="0 0 150.01 107" enable-background="new 0 0 150.01 107" xml:space="preserve">
                   <g>
                      <path fill="#991E20" d="M150.01,103c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4v-1.441c0-2.2,1.8-4,4-4h142.01c2.2,0,4,1.8,4,4V103z"/>
                   </g>
                   <g>
                      <g>
                         <g>
                            <path fill="#B72327" d="M28.001,86.216c0,2.2-1.8,4-4,4H8.121c-2.2,0-4-1.8-4-4V4c0-2.2,1.8-4,4-4h15.88c2.2,0,4,1.8,4,4V86.216z"/>
                         </g>
                      </g>
                   </g>
                   <g>
                      <g>
                         <g>
                            <path fill="#B72327" d="M67.297,86.216c0,2.2-1.8,4-4,4h-15.88c-2.2,0-4-1.8-4-4V30.768c0-2.2,1.8-4,4-4h15.88c2.2,0,4,1.8,4,4V86.216z"/>
                         </g>
                      </g>
                   </g>
                   <g>
                      <g>
                         <g>
                            <path fill="#B72327" d="M106.592,86.216c0,2.2-1.8,4-4,4H86.713c-2.2,0-4-1.8-4-4V14.905c0-2.2,1.8-4,4-4h15.879c2.2,0,4,1.8,4,4V86.216z"/>
                         </g>
                      </g>
                   </g>
                   <g>
                      <g>
                         <g>
                            <path fill="#B72327" d="M145.889,86.216c0,2.2-1.8,4-4,4h-15.881c-2.2,0-4-1.8-4-4V45.638c0-2.2,1.8-4,4-4h15.881c2.2,0,4,1.8,4,4V86.216z"/>
                         </g>
                      </g>
                   </g>
                </svg>
                <div class='text-center'>
                   <button id="choicePollButton" data-polltype = "multipleChoice" class="red-button createPollButton">Create Poll!</button>
                </div>
                {{!-- {{ END text-center }} --}}
             </div>
             {{!-- {{ END panel-primary }} --}}
          </div>
          {{!-- {{ END col-md-4 }} --}}
          <div class = 'col-md-4'>
             <div class="panel panel-primary panel3">
                <div class="panel-body panel3">
                   <h2 class="poll-title text-center"> Preferential Poll </h2>
                   <p class="text-center poll-info"> A poll on a scale between 1-5. </p>
                </div>
                {{!-- {{ multiple choice poll icon }} --}}
                <svg version="1.1" data-polltype = "points" class="poll-svg createPollButton" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="241.785px" height="107.25px" viewBox="0 0 241.785 107.25" enable-background="new 0 0 241.785 107.25" xml:space="preserve">
                   <g>
                      <path fill="#991E20" d="M241.785,103.25c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4v-7.217c0-2.2,1.8-4,4-4h233.785c2.2,0,4,1.8,4,4V103.25z"/>
                   </g>
                   <g>
                      <path fill="#B72327" d="M22.045,45.551c-5.95,0-10.79,4.84-10.79,10.79c0,5.948,4.84,10.788,10.79,10.788c5.949,0,10.789-4.84,10.789-10.788C32.834,50.391,27.995,45.551,22.045,45.551z"/>
                      <path fill="#B72327" d="M71.469,45.551c-5.95,0-10.79,4.84-10.79,10.79c0,5.948,4.84,10.788,10.79,10.788c5.949,0,10.789-4.84,10.789-10.788C82.258,50.391,77.418,45.551,71.469,45.551z"/>
                      <path fill="#B72327" d="M120.892,45.551c-5.95,0-10.79,4.84-10.79,10.79c0,5.948,4.84,10.788,10.79,10.788c5.95,0,10.79-4.84,10.79-10.788C131.682,50.391,126.842,45.551,120.892,45.551z"/>
                      <path fill="#B72327" d="M170.315,45.551c-5.95,0-10.79,4.84-10.79,10.79c0,5.948,4.84,10.788,10.79,10.788c5.949,0,10.789-4.84,10.789-10.788C181.104,50.391,176.264,45.551,170.315,45.551z"/>
                      <path fill="#B72327" d="M219.739,45.551c-5.95,0-10.79,4.84-10.79,10.79c0,5.948,4.84,10.788,10.79,10.788c5.949,0,10.79-4.84,10.79-10.788C230.529,50.391,225.688,45.551,219.739,45.551z"/>
                   </g>
                   <g>
                      <g>
                         <g>
                            <g>
                               <path fill="#B72327" d="M23.994,21.181c0,0.55-0.45,1-1,1h-2.171c-0.55,0-1-0.45-1-1V6.309c0-0.55-0.42-0.838-0.933-0.641l-1.632,0.628c-0.513,0.197-0.933-0.091-0.933-0.641V4.129c0-0.55,0.422-1.157,0.938-1.349l5.794-2.155c0.516-0.192,0.938,0.102,0.938,0.651V21.181z"/>
                               <path fill="none" stroke="#B72327" stroke-width="0.5" stroke-miterlimit="10" d="M23.994,21.181c0,0.55-0.45,1-1,1h-2.171c-0.55,0-1-0.45-1-1V6.309c0-0.55-0.42-0.838-0.933-0.641l-1.632,0.628c-0.513,0.197-0.933-0.091-0.933-0.641V4.129c0-0.55,0.422-1.157,0.938-1.349l5.794-2.155c0.516-0.192,0.938,0.102,0.938,0.651V21.181z"/>
                            </g>
                         </g>
                         <g>
                            <g>
                               <path fill="#B72327" d="M78.78,21.181c0,0.55-0.45,1-1,1H63.958c-0.55,0-0.71-0.344-0.355-0.764l6.998-8.293c0.355-0.42,0.928-1.114,1.274-1.541c0,0,0.021-0.026,0.353-0.448c0.332-0.42,0.633-0.856,0.901-1.305c0.27-0.449,0.485-0.893,0.646-1.332c0.161-0.439,0.242-0.866,0.242-1.278c0-0.951-0.301-1.705-0.902-2.26s-1.341-0.834-2.22-0.834c-1.004,0-1.901,0.255-2.691,0.767c-0.789,0.512-1.453,1.171-1.991,1.977l-2.196-2.175c-0.391-0.387-0.4-1.029-0.02-1.427c0,0,1.337-1.401,2.539-2.048c1.202-0.646,2.692-0.968,4.467-0.968c0.933,0,1.834,0.139,2.705,0.417c0.87,0.279,1.646,0.696,2.327,1.251s1.229,1.247,1.642,2.071c0.412,0.827,0.619,1.777,0.619,2.852c0,0.718-0.099,1.399-0.296,2.046c-0.198,0.646-0.462,1.269-0.793,1.87c-0.332,0.601-0.723,1.193-1.171,1.775c-0.449,0.584-0.915,1.181-1.399,1.79l-2.442,3.042c-0.344,0.429-0.176,0.78,0.374,0.78h5.212c0.55,0,1,0.45,1,1V21.181z"/>
                               <path fill="none" stroke="#B72327" stroke-width="0.5" stroke-miterlimit="10" d="M78.78,21.181c0,0.55-0.45,1-1,1H63.958c-0.55,0-0.71-0.344-0.355-0.764l6.998-8.293c0.355-0.42,0.928-1.114,1.274-1.541c0,0,0.021-0.026,0.353-0.448c0.332-0.42,0.633-0.856,0.901-1.305c0.27-0.449,0.485-0.893,0.646-1.332c0.161-0.439,0.242-0.866,0.242-1.278c0-0.951-0.301-1.705-0.902-2.26s-1.341-0.834-2.22-0.834c-1.004,0-1.901,0.255-2.691,0.767c-0.789,0.512-1.453,1.171-1.991,1.977l-2.196-2.175c-0.391-0.387-0.4-1.029-0.02-1.427c0,0,1.337-1.401,2.539-2.048c1.202-0.646,2.692-0.968,4.467-0.968c0.933,0,1.834,0.139,2.705,0.417c0.87,0.279,1.646,0.696,2.327,1.251s1.229,1.247,1.642,2.071c0.412,0.827,0.619,1.777,0.619,2.852c0,0.718-0.099,1.399-0.296,2.046c-0.198,0.646-0.462,1.269-0.793,1.87c-0.332,0.601-0.723,1.193-1.171,1.775c-0.449,0.584-0.915,1.181-1.399,1.79l-2.442,3.042c-0.344,0.429-0.176,0.78,0.374,0.78h5.212c0.55,0,1,0.45,1,1V21.181z"/>
                            </g>
                         </g>
                         <g>
                            <g>
                               <path fill="#B72327" d="M128.865,15.669c0,1.13-0.211,2.13-0.633,3c-0.422,0.871-0.988,1.596-1.697,2.18c-0.708,0.583-1.537,1.021-2.488,1.317c-0.952,0.297-1.956,0.445-3.014,0.445c-1.848,0-3.499-0.355-4.951-1.064c-1.454-0.708-2.763-1.78-3.929-3.215l2.175-2.195c0.387-0.391,0.986-0.36,1.33,0.069c0,0,0.073,0.091,0.504,0.484c0.43,0.395,0.897,0.742,1.399,1.038c0.502,0.296,1.037,0.529,1.602,0.699c0.565,0.171,1.134,0.255,1.708,0.255c0.485,0,0.946-0.066,1.386-0.201c0.439-0.134,0.825-0.331,1.157-0.592c0.332-0.259,0.602-0.582,0.808-0.968s0.309-0.839,0.309-1.36c0-0.663-0.188-1.188-0.563-1.574c-0.378-0.386-0.849-0.677-1.414-0.874c-0.564-0.197-1.166-0.318-1.803-0.364c-0.637-0.044-1.207-0.067-1.708-0.067v-2.013c0-0.55,0.45-1.012,1-1.028c0,0,0.023,0,0.615-0.054c0.592-0.053,1.144-0.175,1.654-0.363c0.512-0.188,0.941-0.471,1.293-0.847c0.349-0.376,0.523-0.878,0.523-1.508c0-0.466-0.09-0.869-0.269-1.21c-0.18-0.34-0.418-0.623-0.714-0.847c-0.296-0.225-0.636-0.391-1.021-0.499c-0.386-0.107-0.794-0.161-1.225-0.161c-2.188,0-3.902,0.915-5.14,2.745l-2.196-2.176c-0.391-0.387-0.392-1.022-0.003-1.411c0,0,1.53-1.53,2.778-2.131c1.247-0.601,2.713-0.902,4.399-0.902c0.897,0,1.804,0.138,2.718,0.417s1.744,0.677,2.488,1.198c0.743,0.52,1.351,1.169,1.816,1.95s0.699,1.664,0.699,2.651c0,0.502-0.085,0.982-0.255,1.44c-0.17,0.457-0.394,0.878-0.674,1.264c-0.277,0.387-0.607,0.736-0.995,1.05c-0.384,0.315-0.793,0.579-1.225,0.793c0.485,0.179,0.941,0.422,1.373,0.727c0.431,0.305,0.809,0.66,1.13,1.062c0.324,0.404,0.579,0.844,0.769,1.319C128.77,14.624,128.865,15.131,128.865,15.669z"/>
                               <path fill="none" stroke="#B72327" stroke-width="0.5" stroke-miterlimit="10" d="M128.865,15.669c0,1.13-0.211,2.13-0.633,3c-0.422,0.871-0.988,1.596-1.697,2.18c-0.708,0.583-1.537,1.021-2.488,1.317c-0.952,0.297-1.956,0.445-3.014,0.445c-1.848,0-3.499-0.355-4.951-1.064c-1.454-0.708-2.763-1.78-3.929-3.215l2.175-2.195c0.387-0.391,0.986-0.36,1.33,0.069c0,0,0.073,0.091,0.504,0.484c0.43,0.395,0.897,0.742,1.399,1.038c0.502,0.296,1.037,0.529,1.602,0.699c0.565,0.171,1.134,0.255,1.708,0.255c0.485,0,0.946-0.066,1.386-0.201c0.439-0.134,0.825-0.331,1.157-0.592c0.332-0.259,0.602-0.582,0.808-0.968s0.309-0.839,0.309-1.36c0-0.663-0.188-1.188-0.563-1.574c-0.378-0.386-0.849-0.677-1.414-0.874c-0.564-0.197-1.166-0.318-1.803-0.364c-0.637-0.044-1.207-0.067-1.708-0.067v-2.013c0-0.55,0.45-1.012,1-1.028c0,0,0.023,0,0.615-0.054c0.592-0.053,1.144-0.175,1.654-0.363c0.512-0.188,0.941-0.471,1.293-0.847c0.349-0.376,0.523-0.878,0.523-1.508c0-0.466-0.09-0.869-0.269-1.21c-0.18-0.34-0.418-0.623-0.714-0.847c-0.296-0.225-0.636-0.391-1.021-0.499c-0.386-0.107-0.794-0.161-1.225-0.161c-2.188,0-3.902,0.915-5.14,2.745l-2.196-2.176c-0.391-0.387-0.392-1.022-0.003-1.411c0,0,1.53-1.53,2.778-2.131c1.247-0.601,2.713-0.902,4.399-0.902c0.897,0,1.804,0.138,2.718,0.417s1.744,0.677,2.488,1.198c0.743,0.52,1.351,1.169,1.816,1.95s0.699,1.664,0.699,2.651c0,0.502-0.085,0.982-0.255,1.44c-0.17,0.457-0.394,0.878-0.674,1.264c-0.277,0.387-0.607,0.736-0.995,1.05c-0.384,0.315-0.793,0.579-1.225,0.793c0.485,0.179,0.941,0.422,1.373,0.727c0.431,0.305,0.809,0.66,1.13,1.062c0.324,0.404,0.579,0.844,0.769,1.319C128.77,14.624,128.865,15.131,128.865,15.669z"/>
                            </g>
                         </g>
                         <g>
                            <g>
                               <path fill="#B72327" d="M178.345,16.525c0,0.55-0.45,1-1,1h-1.041c-0.55,0-1,0.45-1,1v2.656c0,0.55-0.45,1-1,1h-2.117c-0.55,0-1-0.45-1-1v-2.656c0-0.55-0.45-1-1-1h-7.93c-0.55,0-1-0.45-1-1v-0.959c0-0.55,0.271-1.359,0.602-1.798l9.265-12.29c0.331-0.439,1.052-0.798,1.602-0.798h1.579c0.55,0,1,0.45,1,1v11.266c0,0.55,0.45,1,1,1h1.041c0.55,0,1,0.45,1,1V16.525z M170.187,13.941c0.55,0.002,1-0.446,1-0.996V7.789c0-0.55-0.273-0.643-0.608-0.206l-4.245,5.544c-0.335,0.437-0.158,0.796,0.392,0.798L170.187,13.941z"/>
                               <path fill="none" stroke="#B72327" stroke-width="0.5" stroke-miterlimit="10" d="M178.345,16.525c0,0.55-0.45,1-1,1h-1.041c-0.55,0-1,0.45-1,1v2.656c0,0.55-0.45,1-1,1h-2.117c-0.55,0-1-0.45-1-1v-2.656c0-0.55-0.45-1-1-1h-7.93c-0.55,0-1-0.45-1-1v-0.959c0-0.55,0.271-1.359,0.602-1.798l9.265-12.29c0.331-0.439,1.052-0.798,1.602-0.798h1.579c0.55,0,1,0.45,1,1v11.266c0,0.55,0.45,1,1,1h1.041c0.55,0,1,0.45,1,1V16.525z M170.187,13.941c0.55,0.002,1-0.446,1-0.996V7.789c0-0.55-0.273-0.643-0.608-0.206l-4.245,5.544c-0.335,0.437-0.158,0.796,0.392,0.798L170.187,13.941z"/>
                            </g>
                         </g>
                         <g>
                            <g>
                               <path fill="#B72327" d="M227.894,14.915c0,1.13-0.211,2.166-0.633,3.109c-0.422,0.941-0.992,1.749-1.708,2.421c-0.718,0.673-1.557,1.198-2.517,1.574c-0.961,0.378-1.979,0.565-3.054,0.565c-1.544,0-2.992-0.277-4.346-0.834c-1.355-0.556-2.598-1.516-3.728-2.879l2.147-2.168c0.388-0.391,0.899-0.475,1.139-0.186c0,0,0,0,0.279,0.296c0.278,0.296,0.601,0.569,0.968,0.821c0.368,0.25,0.78,0.461,1.238,0.631c0.458,0.171,0.973,0.256,1.548,0.256c0.646,0,1.232-0.094,1.763-0.283c0.528-0.188,0.985-0.444,1.372-0.767c0.386-0.323,0.687-0.708,0.9-1.157c0.216-0.449,0.324-0.932,0.324-1.453c0-0.575-0.126-1.086-0.377-1.533c-0.252-0.449-0.588-0.83-1.01-1.145c-0.422-0.313-0.911-0.551-1.467-0.713s-1.14-0.242-1.749-0.242c-0.698,0-1.35,0.089-1.95,0.269c-0.601,0.179-1.216,0.502-1.843,0.969l-1.401-1.437c-0.384-0.394-0.649-1.163-0.59-1.71l0.833-7.673c0.06-0.547,0.559-0.993,1.108-0.992l10.082,0.022c0.55,0.001,1,0.453,1,1.002v1.66c0,0.55-0.45,1-1,1h-6.827c-0.55,0-1.053,0.447-1.118,0.993l-0.247,2.078c-0.065,0.546,0.302,0.832,0.814,0.633c0,0,0.031-0.012,0.615-0.111c0.582-0.099,1.133-0.148,1.654-0.148c1.13,0,2.17,0.18,3.121,0.539c0.95,0.359,1.772,0.856,2.463,1.494c0.689,0.636,1.229,1.39,1.613,2.26C227.7,12.948,227.894,13.892,227.894,14.915z"/>
                               <path fill="none" stroke="#B72327" stroke-width="0.5" stroke-miterlimit="10" d="M227.894,14.915c0,1.13-0.211,2.166-0.633,3.109c-0.422,0.941-0.992,1.749-1.708,2.421c-0.718,0.673-1.557,1.198-2.517,1.574c-0.961,0.378-1.979,0.565-3.054,0.565c-1.544,0-2.992-0.277-4.346-0.834c-1.355-0.556-2.598-1.516-3.728-2.879l2.147-2.168c0.388-0.391,0.899-0.475,1.139-0.186c0,0,0,0,0.279,0.296c0.278,0.296,0.601,0.569,0.968,0.821c0.368,0.25,0.78,0.461,1.238,0.631c0.458,0.171,0.973,0.256,1.548,0.256c0.646,0,1.232-0.094,1.763-0.283c0.528-0.188,0.985-0.444,1.372-0.767c0.386-0.323,0.687-0.708,0.9-1.157c0.216-0.449,0.324-0.932,0.324-1.453c0-0.575-0.126-1.086-0.377-1.533c-0.252-0.449-0.588-0.83-1.01-1.145c-0.422-0.313-0.911-0.551-1.467-0.713s-1.14-0.242-1.749-0.242c-0.698,0-1.35,0.089-1.95,0.269c-0.601,0.179-1.216,0.502-1.843,0.969l-1.401-1.437c-0.384-0.394-0.649-1.163-0.59-1.71l0.833-7.673c0.06-0.547,0.559-0.993,1.108-0.992l10.082,0.022c0.55,0.001,1,0.453,1,1.002v1.66c0,0.55-0.45,1-1,1h-6.827c-0.55,0-1.053,0.447-1.118,0.993l-0.247,2.078c-0.065,0.546,0.302,0.832,0.814,0.633c0,0,0.031-0.012,0.615-0.111c0.582-0.099,1.133-0.148,1.654-0.148c1.13,0,2.17,0.18,3.121,0.539c0.95,0.359,1.772,0.856,2.463,1.494c0.689,0.636,1.229,1.39,1.613,2.26C227.7,12.948,227.894,13.892,227.894,14.915z"/>
                            </g>
                         </g>
                      </g>
                   </g>
                </svg>
                <div class='text-center'>
                   <button id="ratingsPollButton" data-polltype = "points"  class="red-button createPollButton">Create Poll!</button>
                </div>
             </div>
             {{!-- {{ END col-md-4 }} --}}
          </div>
       </div>
    </div>

    <div class="pollHistoryContent">
       <div class="row" id="pollDeactivateRow">
          <div class= "col-md-12">
             <table class="table">
                <thead>
                   <tr>
                      <th> Poll Title </th>
                      <th> Last Updated Date </th>
                      <th> Deactivate </th>
                      <th> See More </th>
                   </tr>
                </thead>
                <tbody id = "pollHistoryTableBody">
                </tbody>
             </table>
          </div>
       </div>
    </div>

    <div class="chartContent">
       <div class="row" id="charDisplaySection">
       </div>
  </div>

  </div>






         {{!-- {{ END profileContent }} --}}


      </div>
      {{!-- {{ END mainContent }} --}}
   </div>
</div>

<!-- Modal for when the logged in user commits a poll -->
<div class="modal fade" id="pollResult" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title">Poll Created!</h3>
         </div>
         {{!-- {{ END modal-header }} --}}
         <div class="container-fluid">
            <p class="modal-text-top" style="font-weight:bolder;"> Thanks for submitting your Poll</p>
            <p class="modal-text-bottom">
               Please share the following link to your users!
            <h6 class="poll-link" id='pollLink'></h6>
            </p>
         </div>
         {{!-- {{ END container-fluid }} --}}
         <div class="modal-footer">
            <button type="button" class="red-button" id="modalCloseButton" data-dismiss="modal">Close</button>
         </div>
         {{!-- {{ END modal-footer }} --}}
      </div>
      {{!-- {{ END modal-content }} --}}
   </div>
   {{!-- {{ END modal-dialog }} --}}
</div>
{{!-- {{ END modal fade }} --}}

<!-- Modal for when the logged in user looks at a poll later-->
<div class="modal fade" id="pollResultOpener" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title">Your Poll Link!</h3>
         </div>
         {{!-- {{ END modal-header }} --}}
         <div class="container-fluid">
            <h6 class="poll-link" id='pollInformation'></h6>
         </div>
         {{!-- {{ END container-fluid }} --}}
         <div class="modal-footer">
            <button type="button" class="red-button" id="modalCloseButton" data-dismiss="modal">Close</button>
         </div>
         {{!-- {{ END modal-footer }} --}}
      </div>
      {{!-- {{ END modal-content }} --}}
   </div>
   {{!-- {{ END modal-dialog }} --}}
</div>
{{!-- {{ END modal fade }} --}}

<!-- Modal for when the non logged in user answers a poll -->
<div class="modal fade" id="singlePollResult" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title"> Here are the results! </h1>
         </div>
         {{!-- {{ END modal-header }} --}}
         <div class="container-fluid">
            {{!-- {{ here is where we need the dynamic data }} --}}
            <h1 id='singlePollResultText'> </h1>

         </div>
         {{!-- {{ END container-fluid }} --}}
         <div class="modal-footer">
            <button type="button" class="red-button" data-dismiss="modal">Close</button>
         </div>
         {{!-- {{ END modal-footer }} --}}
      </div>
      {{!-- {{ END modal-content }} --}}
   </div>
   {{!-- {{ END modal-dialog }} --}}
</div>
{{!-- {{ END modal fade }} --}}
